@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upgrade Bdd <div class="text-danger">Find Culprit</div> Tool</h1>
    <p>Finding The Culprit Commit Made Easier</p>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYm51cmJ6aDg3ZXk0NnhyZGZ5dWRyMHY3dXJ3emN1M2I1bnZ4NDd2YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT5LMVPdaUN53yKDdK/giphy.gif" alt="Description of the GIF">
</div>